html, body {
	height: 100%;
}

#header {
	
}

.split {
	border-bottom: 1px #A99E9E solid;
}

.myphoto-img {
	max-height: 150px;
}

.logo-img {
	height: 120px;
}

.hero-unit {
	color: whitesmoke;
	background-color: #3A3A4F; /*#3C3B5E;*/
}

p {
	font-family: 'Lucida Grande', Helvetica, Arial;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

#body-header p {
	color: #774C56;
	border-top: 1px #A99E9E solid;
	border-bottom: 1px #A99E9E solid;
	padding: 14px 0 5px 0;
	margin-bottom: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-variant: small-caps;
}

#margin-div {
	margin: 20px;
}

/* Wrapper for page content to push down footer */
div#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -40px;
	/* Pad bottom by footer height */
	padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
div#footer {
	/*margin-top: 10px;*/
	background-color: #f5f5f5;
}